<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>台東 | 初鹿牧場</title>
        <link rel="shortcut icon" type="image/jpg" href="../../img/TWlogo.png"/>
        <!-- Bootstrap -->
        <link href="../../css/bootstrap-4.3.1.css" rel="stylesheet">
        <link href="../../css/customization.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body data-spy="scroll" data-targrt="index-spy" data-offset="0">
    <header>
        <nav class="navbar navbar-expand-md d-flex">
            <a class="navbar-brand" href="../../index.html"><img src="../../img/Taiwan-icon.png" class="logo" alt="東部旅遊攻略"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="../Yilan.html">宜蘭</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../yv.html">觀光景點</a>
                            <a class="dropdown-item" href="../yf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="../Hualien.html">花蓮</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../hv.html">觀光景點</a>
                            <a class="dropdown-item" href="../hf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="../Taitung.html">台東</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../tv.html">觀光景點</a>
                            <a class="dropdown-item" href="../tf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../team.html">團隊介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../References.html">參考資料</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" id="food">
        <div class="container-fluid" style="padding: 0;">
            <div id="myCarousel" class="carousel slide col-xl-6 col-lg-8 col-md-10 col-12" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#slide0"><img class="first-slide" src="../../img/view/T2.jpg" alt="初鹿牧場"></a>
                    </div>   
                </div>
            </div>
            <a href="#!" class="lightbox" id="slide0"><img src="../../img/view/T2.jpg" alt="初鹿牧場"></a>

            <div class="row" id="info">
                <div class="col-12">
                    <h2>初鹿牧場</h2>
                </div>
                <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                    <hr class = "hr-2">
                    <table>
                        <tbody>
                        <tr>
                            <td>地址：</td>
                            <td>台東縣卑南鄉牧場1號</td>
                        </tr>
                        <tr>
                            <td>營業時間：</td>
                            <td>每日08:00-17:00</td>
                        </tr>
                        <tr>
                            <td>介紹：</td>
                            <td>：初鹿牧場有放牧區、滑草場、乳牛餵食區、森林浴、遊園馬車等遊玩區域。整個園區面積約72公頃，育養約250頭乳牛，還有飼養驢子、袋鼠、山羊等可愛動物。廣闊的園區及草地，讓大人小孩到這可盡情打滾跑跳。玩累也可到咖啡廳來一杯鮮奶咖啡，或是吃一隻超級香濃的鮮奶霜淇淋喔！</td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
            <div class="row" id="location">
                <div class="col-xl-6 col-md-8 col-12 center-content">
                    <h2>地點位置</h2>
                    <hr class="hr-2">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.28936470752!2d121.10584457624417!3d22.865766722159883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346fbbcbe88feeef%3A0x95ca249c81a54f18!2z5Yid6bm_54mn5aC0!5e0!3m2!1szh-TW!2stw!4v1686641372556!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>
            </div>
        </div>
    </main>
    
    
    <footer>
        <div class="col-xl-6 col-md-8 col-12 center-content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 footer-col" id="footer-logo">
                        <a href="../../index.html"><img src="../../img/Taiwan-icon.png" alt="東部旅遊攻略"></a>
                    </div>
                    <div class="col-lg-4 col-md-8 col-7 footer-col">
                        <a class="footer-header" href="../Yilan.html"><h5>宜蘭</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="../yv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="../yf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href="../Hualien.html"><h5>花蓮</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="hv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="hf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href="../Taitung.html"><h5>台東</h5></a>
                        <ul class="list-unstyled text-small">
                            <li><a class="footer-item" href="../tv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="../tf.html">美食小吃</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-5 footer-col">
                        <a class="footer-header" href="../../team.html"><h5>團隊介紹</h5></a>
                        <br><br>
                        <a class="footer-header" href="../../References.html"><h5>參考文獻</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
