<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>花蓮 | 觀光景點</title>
    <link rel="shortcut icon" type="image/jpg" href="../img/TWlogo.png"/>
    <!-- Bootstrap -->
    <link href="../css/bootstrap-4.3.1.css" rel="stylesheet">
    <link href="../css/customization.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-spy="scroll" data-targrt="index-spy" data-offset="0">
    <header>
        <nav class="navbar navbar-expand-md d-flex">
            <a class="navbar-brand" href="../index.html"><img src="../img/Taiwan-icon.png" class="logo" alt="東部旅遊攻略"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="../view/Yilan.html">宜蘭</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="yv.html">觀光景點</a>
                            <a class="dropdown-item" href="yf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="Hualien.html">花蓮</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../view/hv.html">觀光景點</a>
                            <a class="dropdown-item" href="../view/hf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="Taitung.html">台東</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="tv.html">觀光景點</a>
                            <a class="dropdown-item" href="tf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../team.html">團隊介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../team.html">參考資料</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" id="Hulien">
        <div class="container-fluid">
            
            <div class="row" id="tw-center">
                <div class="col-xl-6 col-md-8 col-12">
                    <h2>觀光景點</h2>
                    <hr class="hr-1">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vh1.html">
                                <img src="../img/view/sea_park.jpeg" alt="遠雄海洋公園">
                                <div class="img-hover"><h5 class = "h5-white">遠雄海洋公園</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vh2.html">
                                <img src="../img/view/TK_park.jpeg" alt="太魯閣國家公園">
                                <div class="img-hover"><h5 class = "h5-white">太魯閣國家公園</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vh3.html">
                                <img src="../img/view/space.jpeg" alt="山度空間">
                                <div class="img-hover"><h5 class = "h5-white">山度空間</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vh4.html">
                                <img src="../img/view/nightmarket.jpeg" alt="東大門夜市">
                                <div class="img-hover"><h5 class = "h5-white">東大門夜市</h5></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    
    <footer>
        <div class="col-xl-6 col-md-8 col-12 center-content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 footer-col" id="footer-logo">
                        <a href="../index.html"><img src="../img/fooderTW.png" alt="東部旅遊攻略"></a>
                    </div>
                    <div class="col-lg-4 col-md-8 col-7 footer-col">
                        <a class="footer-header" href="Yilan.html"><h5>宜蘭</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="yv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="yf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href="Hualien.html"><h5>花蓮</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="hv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="hf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href=" Taitung.html"><h5>台東</h5></a>
                        <ul class="list-unstyled text-small">
                            <li><a class="footer-item" href="tv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="tf.html">美食小吃</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-5 footer-col">
                        <a class="footer-header" href="../team.html"><h5>團隊介紹</h5></a>
                        <br><br>
                        <a class="footer-header" href="../References.html"><h5>參考文獻</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
