<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>宜蘭</title>
    <link rel="shortcut icon" type="image/jpg" href="../img/TWlogo.png"/>
    <!-- Bootstrap -->
    <link href="../css/bootstrap-4.3.1.css" rel="stylesheet">
    <link href="../css/customization.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-spy="scroll" data-targrt="index-spy" data-offset="0">
    <header>
        <nav class="navbar navbar-expand-md d-flex">
            <a class="navbar-brand" href="../index.html"><img src="../img/Taiwan-icon.png" class="logo" alt="東部旅遊攻略"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="../view/Yilan.html">宜蘭</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="yv.html">觀光景點</a>
                            <a class="dropdown-item" href="yf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="Hualien.html">花蓮</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../view/hv.html">觀光景點</a>
                            <a class="dropdown-item" href="../view/hf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="d-inline-flex">
                            <a class="nav-link" href="Taitung.html">台東</a>
                            <span class="dropdown-toggle" id="fashiondrop" data-toggle="dropdown"></span>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="tv.html">觀光景點</a>
                            <a class="dropdown-item" href="tf.html">美食小吃</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../team.html">團隊介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../team.html">參考資料</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" id="Hulien">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-md-8 col-12">
                    <h2>關於宜蘭</h2>
                    <hr class="hr-2">
                    <p>花蓮縣總面積為4628平方公里，是台灣面積最大的縣級行政區。由於氣候宜人居住，又位於中央山脈之後，也素有『台灣後花園』之美譽。花蓮縣市台灣原住名最多的區域，境內原住名以台灣原住名第一大族阿美族分佈最廣。<br><br>花蓮縣擁有壯麗的自然景觀，包括太魯閣峽谷、清水斷崖、瑞穗牧場等知名景點。縣境內還有許多國家公園、森林遊樂區和自然保護區，提供豐富的生態資源和戶外活動的機會。<br><br>花蓮以海鮮聞名，擁有新鮮的海產資源。您可以品嚐到各種美味的海鮮料理，如炒蝦子、螃蟹、魚翅湯等。此外，花蓮還有其他特色美食，如花蓮米糕、鹿肉料理和太魯閣擂茶等。<br><br>總而言之，花蓮以其壯麗的自然景觀、豐富的原住民文化和獨特的美食聞名，吸引著許多遊客前來探索這個美麗的地方。無論您是喜歡大自然探險、文化體驗還是美食品味，花蓮都是一個值得一訪的目的地。</p>
                </div>
            </div>
            
            <div class="row" id="tw-center">
                <div class="col-xl-6 col-md-8 col-12">
                    <h2>觀光景點</h2>
                    <hr class="hr-1">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vy1.html">
                                <img src="../img/view/Y1.jpg" alt="太平山國家森林遊樂區">
                                <div class="img-hover"><h5 class = "h5-white">太平山國家森林遊樂區</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vy2.html">
                                <img src="../img/view/Y2.jpg" alt="冬山河親水公園">
                                <div class="img-hover"><h5 class = "h5-white">冬山河親水公園</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vy3.html">
                                <img src="../img/view/Y3.jpg" alt="羅東夜市">
                                <div class="img-hover"><h5 class = "h5-white">羅東夜市</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/v/vy4.html">
                                <img src="../img/view/Y4.jpg" alt="蘭陽博物館">
                                <div class="img-hover"><h5 class = "h5-white">蘭陽博物館</h5></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" id="tw-center-2">
                <div class="col-xl-6 col-md-8 col-12">
                    <h2>美食小吃</h2>
                    <hr class="hr-2">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a href="../view/food/y1.html">
                                <img src="../img/food/Yilan1.jpg" alt="柯氏蔥油餅">
                                <div class="img-hover img-hover-2"><h5 class = "h5-green">柯氏蔥油餅</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/food/y2.html">
                                <img src="../img/food/Yilan2.jpg" alt="阿灶伯當歸羊肉湯">
                                <div class="img-hover img-hover-2"><h5 class = "h5-green">阿灶伯當歸羊肉湯</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/food/y3.html">
                                <img src="../img/food/Yilan3.jpg" alt="小春卜肉 糕渣">
                                <div class="img-hover img-hover-2"><h5 class = "h5-green">小春卜肉 糕渣</h5></div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="../view/food/y4.html">
                                <img src="../img/food/Yilan4.jpg" alt="原來豆花">
                                <div class="img-hover img-hover-2"><h5 class = "h5-green">原來豆花</h5></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    
    <footer>
        <div class="col-xl-6 col-md-8 col-12 center-content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 footer-col" id="footer-logo">
                        <a href="../index.html"><img src="../img/fooderTW.png" alt="東部旅遊攻略"></a>
                    </div>
                    <div class="col-lg-4 col-md-8 col-7 footer-col">
                        <a class="footer-header" href="Yilan.html"><h5>宜蘭</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="yv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="yf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href="Hualien.html"><h5>花蓮</h5></a>
                        <ul class="list-unstyled text-small"><li></li>
                            <li><a class="footer-item" href="hv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="hf.html">美食小吃</a></li>
                        </ul>
                        <br>
                        <a class="footer-header" href=" Taitung.html"><h5>台東</h5></a>
                        <ul class="list-unstyled text-small">
                            <li><a class="footer-item" href="tv.html">觀光景點</a></li>
                            <li><a class="footer-item" href="tf.html">美食小吃</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-5 footer-col">
                        <a class="footer-header" href="../team.html"><h5>團隊介紹</h5></a>
                        <br><br>
                        <a class="footer-header" href="../References.html"><h5>參考文獻</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>